<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                
                <p-toast></p-toast>
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Iniciar Sesión</div>
                   
                </div>
                <form [formGroup]="formlogin" (ngSubmit)="login()">
                    <div>
                      <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                      <input 
                        id="email1" 
                        type="text" 
                        formControlName="username" 
                        placeholder="Email address" 
                        pInputText 
                        class="w-full md:w-30rem mb-5" 
                        style="padding:1rem">
                      
                      <!-- Mostrar mensaje de error si el campo 'username' es inválido -->
                      <div *ngIf="formlogin.get('username')?.touched && formlogin.get('username')?.invalid" class="text-red-600 text-sm">
                        <div *ngIf="formlogin.get('username')?.hasError('required')">Email es requerido.</div>
                      </div>
                  
                      <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                      <p-password 
                        id="password1" 
                        formControlName="password" 
                        placeholder="Password" 
                        [toggleMask]="true" 
                        styleClass="mb-5" 
                        inputStyleClass="w-full p-3 md:w-30rem">
                      </p-password>
                  
                      <!-- Mostrar mensaje de error si el campo 'password' es inválido -->
                      <div *ngIf="formlogin.get('password')?.touched && formlogin.get('password')?.invalid" class="text-red-600 text-sm">
                        <div *ngIf="formlogin.get('password')?.hasError('required')">Password es requerido.</div>
                      </div>
                  
                      <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        
                        <a [routerLink]="['/email-password/sendemail']" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">¿Has olvidado tu contraseña?</a>
                      </div>
                      <button pButton pRipple label="Acceder" class="w-full p-3 text-xl"></button>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div>
