<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                
                <p-toast></p-toast>
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Introduce tu Nueva Contraseña</div>
                </div>
                <form [formGroup]="formchangepassword" (ngSubmit)="onChangePassword()">
                    <div class="mb-5">
                        <label for="password" class="block text-900 text-xl font-medium mb-2">Contraseña</label>
                        <p-password 
                          id="password" 
                          formControlName="password" 
                          placeholder="Ingrese su contraseña" 
                          [toggleMask]="true" 
                          styleClass="mb-3" 
                          inputStyleClass="w-full p-3 md:w-30rem">
                        </p-password>
                        <div *ngIf="formchangepassword.get('password')?.invalid && formchangepassword.get('password')?.touched">
                            <small class="p-error text-red-600">{{ passwordErrors }}</small>
                        </div>
                    </div>

                    <div class="mb-5">
                        <label for="confirmPassword" class="block text-900 text-xl font-medium mb-2">Confirmar Contraseña</label>
                        <p-password 
                          id="confirmPassword" 
                          formControlName="confirmPassword" 
                          placeholder="Ingrese confirmar contraseña" 
                          [toggleMask]="true" 
                          styleClass="mb-3" 
                          inputStyleClass="w-full p-3 md:w-30rem">
                        </p-password>
                        <div *ngIf="formchangepassword.get('confirmPassword')?.invalid && formchangepassword.get('confirmPassword')?.touched">
                            <small class="p-error text-red-600">{{ passwordErrors }}</small>
                        </div>
                    </div>

                    
                    <div class="flex justify-content-center mt-5">
                        <button pButton pRipple label="Cambiar Contraseña" class="w-full p-3 text-xl md:w-30rem"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
