
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <H2>Usuarios</H2>
           
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Crear Usuarios" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar Usuarios" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedUsers()"
                            [disabled]="!selectedUser || !selectedUser.length"></button>
                    </div>
                </ng-template>

            </p-toolbar>


            <p-dialog [(visible)]="usersDialog" [style]="{width: '450px'}"
                [header]="isEditing ? 'Editar Usuario' : 'Crear Usuario'" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <!-- Asegurar que el formulario tenga la referencia al FormGroup -->
                    <form [formGroup]="formsusers">
                        <div class="field">
                            <label for="name">Nombre</label>
                            <input type="text" pInputText id="name" formControlName="username" required autofocus />
                            <div *ngIf="formsusers.get('username')?.invalid && formsusers.get('username')?.touched">
                                <small class="p-error" *ngIf="formsusers.get('username')?.hasError('required')">El nombre del usuario es obligatorio.</small>
                                <small class="p-error" *ngIf="formsusers.get('username')?.hasError('pattern')">El nombre del usuario solo puede contener letras.</small>
                              </div>
                        </div>

                        <div class="field">
                            <label for="name">Apellido</label>
                            <input type="text" pInputText id="name" formControlName="lastName" required autofocus />
                            <div *ngIf="formsusers.get('lastName')?.invalid && formsusers.get('lastName')?.touched || submitted">
                                <small class="p-error" *ngIf="formsusers.get('lastName')?.hasError('required')">El apellido del usuario es obligatorio.</small>
                                <small class="p-error" *ngIf="formsusers.get('lastName')?.hasError('pattern')">El apellido del usuario solo puede contener letras.</small>
                              </div>
                        </div>

                        <div class="field">
                            <label for="name">Correo</label>
                            <input type="email" pInputText id="name" formControlName="email" required autofocus />
                            <div *ngIf="formsusers.get('email')?.invalid && formsusers.get('email')?.touched || submitted">
                                <small class="p-error" *ngIf="formsusers.get('email')?.hasError('required')">El correo electrónico es obligatorio.</small>
                                <small class="p-error" *ngIf="formsusers.get('email')?.hasError('pattern')">El correo electrónico no es válido.</small>
                              </div>
                        </div>

                        <div class="field">
                            <label for="name">Dirección</label>
                            <input type="text" pInputText id="name" formControlName="address" required autofocus />
                            <div *ngIf="formsusers.get('address')?.invalid && formsusers.get('address')?.touched || submitted">
                                <small class="p-error" *ngIf="formsusers.get('address')?.hasError('required')">La dirección es obligatoria.</small>
                              </div>
                        </div>


                        <div class="field">
                            <label for="name">Telefono</label>
                            <input type="text" pInputText id="name" formControlName="cellphone" required autofocus />
                            <div *ngIf="formsusers.get('cellphone')?.invalid && formsusers.get('cellphone')?.touched || submitted">
                                <small class="p-error" *ngIf="formsusers.get('cellphone')?.hasError('required')">El teléfono es obligatorio.</small>
                                <small class="p-error" *ngIf="formsusers.get('cellphone')?.hasError('pattern')">El número de teléfono debe tener 10 dígitos.</small>
                              </div>
                        </div>

                        <div *ngIf="!isEditing"  class="field">
                            <label for="name">Password</label>
                            <input type="text" pInputText id="name" formControlName="password" required autofocus />
                            <div *ngIf="formsusers.get('password')?.invalid && formsusers.get('password')?.touched || submitted">
                                <small class="p-error">{{ passwordErrors }}</small>

                              </div>
                        </div>

                        <div class="field">
                            <label for="userType">Rol</label>
                            <select id="userType" formControlName="userType" class="p-inputtext p-component">
                              <!-- Opción placeholder deshabilitada y seleccionada por defecto -->
                              <option value="" disabled selected>Seleccione rol</option>
                          
                              <!-- Opciones de roles disponibles -->
                              <option value="ADMIN">Administrador</option>
                              
                            </select>
                          
                            <!-- Mensaje de error si el campo no es válido -->
                            <div *ngIf="formsusers.get('userType')?.invalid && formsusers.get('userType')?.touched || submitted">
                              <small class="p-error" *ngIf="formsusers.get('userType')?.hasError('required')">
                                El rol es obligatorio.
                              </small>
                            </div>
                          </div>

                    </form>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                        (click)="saveUsers()" [disabled]="isProcessing"></button>
                </ng-template>
            </p-dialog>

            <p-table #dt [value]="users" responsiveLayout="scroll" [rows]="10"
            [globalFilterFields]="['name_species']"
            [paginator]="true" [rowsPerPageOptions]="[10,25,50,100]" [showCurrentPageReport]="true"
            currentPageReportTemplate="mostrando {first} a {last} de {totalRecords} entradas"
            [(selection)]="selectedUser" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Administrar Usuarios</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                            style="width: 400px;" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="user"></p-tableCheckbox>
                    </td>

                    <td>
                        {{user.username}}
                    </td>

                    <td>
                        {{user.lastName}}
                    </td>

                    <td>
                        {{user.email}}
                    </td>

                    <td>
                        {{user.address}}
                    </td>

                    <td>
                        {{user.cellphone}}
                    </td>

                    <td>
                        {{user.userType}}
                    </td>

                    <td>
                        <div class="flex">
                            <button pButton pRipple type="button"
                                class="p-button-rounded p-button-info p-button-text" pTooltip="Editar"
                                tooltipPosition="right" (click)="editUsers(user)">
                                <i class="pi pi-user-edit" style="margin-right: 0.1rem;"></i>
                            </button>

                            <button pButton pRipple type="button"
                                class="p-button-rounded p-button-danger p-button-text" pTooltip="Eliminar"
                                tooltipPosition="right" (click)="deleteUsers(user)">
                                <i class="pi pi-trash"></i>
                            </button>

                        </div>
                    </td>
                </tr>
            </ng-template>

            <!-- Aquí va el mensaje de 'No se encontraron resultados' -->
            <ng-template pTemplate="emptymessage">
                <div class="empty-message-container">
                    <span>No se encontraron resultados</span>
                </div>
            </ng-template>

        </p-table>


        <p-dialog [(visible)]="deleteusersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">¿Estás seguro de que quieres eliminar?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteusersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="deleteuserDialog" header="Confirmar Eliminación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>¿Estás seguro de que quieres eliminar los usuarios seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteSpecieDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                (click)="confirmDeleteSelected()"></button>
            </ng-template>
          </p-dialog>

        </div>
    </div>
</div>

