<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <H2>Categoria</H2>
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Crear Categoria" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar Categoria" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedCategories()"
                            [disabled]="!selectedCategories || !selectedCategories.length"></button>
                    </div>
                </ng-template>

            </p-toolbar>

            <p-table #dt [value]="categories" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name_category']"
                [paginator]="true" [rowsPerPageOptions]="[10,25,50,100]" [showCurrentPageReport]="true"
                currentPageReportTemplate="mostrando {first} a {last} de {totalRecords} entradas"
                [(selection)]="selectedCategories" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Categoria</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                style="width: 400px;" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-categorie>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="categorie"></p-tableCheckbox>
                        </td>

                        <td>
                            {{categorie.name_category}}
                        </td>
                        <td>
                            <div class="flex">

                            <button pButton pRipple type="button"
                                class="p-button-rounded p-button-info p-button-text" pTooltip="Editar"
                                tooltipPosition="right" (click)="editCategory(categorie)">
                                <i class="pi pi-user-edit" style="margin-right: 0.1rem;"></i>
                            </button>

                            <button pButton pRipple type="button"
                            class="p-button-rounded p-button-danger p-button-text" pTooltip="Eliminar"
                            tooltipPosition="right"  (click)="deleteCustomer(categorie)">
                            <i class="pi pi-trash"></i>
                            </button>

                            </div>
                        </td>
                    </tr>
                </ng-template>

                <!-- Aquí va el mensaje de 'No se encontraron resultados' -->
                <ng-template pTemplate="emptymessage">
                    <div class="empty-message-container">
                        <span>No se encontraron resultados</span>
                    </div>
                </ng-template>

            </p-table>


            <!--Formulario-->

            <p-dialog [(visible)]="categoriesDialog" [style]="{width: '450px'}"
                [header]="isEditing ? 'Editar Categoria' : 'Crear Categoria'" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <form [formGroup]="formscategory">
                        <div class="field">
                            <label for="name">Nombre Categoria</label>
                            <input type="text" pInputText id="name" formControlName="name_category" required
                                autofocus />
                            <div
                                *ngIf="formscategory.get('name_category')?.invalid && formscategory.get('name_category')?.touched">
                                <small class="p-error"
                                    *ngIf="formscategory.get('name_category')?.hasError('required')">El
                                    nombre de la categoria es obligatorio.</small>
                                <small class="p-error" *ngIf="formscategory.get('name_category')?.hasError('pattern')">El
                                    nombre de la categoria solo puede contener letras.</small>

                            </div>
                        </div>
                    </form>

                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                        (click)="saveCategory()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteCategoriesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="categorie">¿Estás seguro de que quieres eliminar?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteCategoriesDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                        (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>


            <p-dialog [(visible)]="deleteCategorieDialog" header="Confirmar Eliminación" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                  <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                  <span>¿Estás seguro de que quieres eliminar las categorias seleccionadas?</span>
                </div>
                <ng-template pTemplate="footer">
                  <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteCategorieDialog = false"></button>
                  <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                    (click)="confirmDeleteSelected()"></button>
                </ng-template>
              </p-dialog>

        </div>
    </div>
</div>